doctype html
html
  head
    title Honey Hunters
    link(href='/static/style.css' rel='stylesheet')
    //- google fonts  
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;700&display=swap' rel='stylesheet') 
  body
    header.header
      h1.logo
        a(href='/') HH

      nav.nav
        a(href='/notes') Входящие
        a(href='/archive') Архив

    block content